

body{
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
    font-family: sans-serif;
}



#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(58, 219, 18);
    background-color: blueviolet;
    padding: 30px;
    margin: 0px;
}

.titulo2{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.principal{
background-color: chocolate;
padding: 30px;
margin: 0px;
}

.beneficios{
background-color: burlywood;
padding: 30px;
margin: 0px;
}