

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(67, 144, 150);
    font-family: sans-serif;
}



#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(67, 144, 150);
    background-color: rgb(6, 39, 131);
    padding: 30px;
    margin: 0px;
}

.titulo2{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.principal{
background-color: rgb(67, 144, 150);
padding: 30px;
margin: 0px;
}

.beneficios{
background-color: rgb(67, 144, 150);
padding: 30px;
margin: 0px;
}

ul{
display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;
font-size: 20px;
line-height: 1.5;
}

.itens{
    font-style: italic;
    
}

.imagembeneficios{
    width: 38%;
}
footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
    background-color: #000;
}