#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(58, 219, 18);
    background-color: blueviolet;
    padding: 30px;
}

body{
    background-color: aquamarine;
}